.line-container {
  height: 47px;
  background-color: black;
  font-size: 12px;
  color: #fff;
}
.line-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1088px;
  margin: auto;
  padding: 12px 0;
}

.left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-links {
  display: flex;
  justify-content: space-between;
  margin-left: 25%;
}
.center-links > a {
  margin-left: 25px;
}
.left-side > span > svg {
  margin-right: 10px;
}

.left-side > svg {
  margin: 0 10px;
}
/* center side start */
.line_select {
  background-color: #000;
  color: #fff;
  border: none;
}
.right-side {
  display: flex;
  justify-content: space-between;
}
.right-side > svg {
  margin: 0 20px;
}
.right-side > a {
  margin: 0 20px;
}
